<form action="" class="large-padding top-space">
    <input type="email" [(ngModel)]="data.email" name="email" placeholder="Correo electronico" class="form-control">
    <input type="password" [(ngModel)]="data.password" name="password" placeholder="Password" class="form-control">
    <div class="top-space">
        <button (click)="login()" class="btn blue light-text full-width">Acceder</button>
    </div>
    <div class="top-space">
        <button class="btn blue light-text full-width">Registrate</button>
    </div>
</form>